

 html, body, .container-table {
    height: 100%;
}
.container-table {
    display: table;
}

body
{
	
	background: black;
	color: white;
	margin-top:20px;
}

label
{
	font-size: 20px;
}

#main_form
{
	margin-top: 40px;
}