<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwania motywów</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="AppCtrl as app">
<div class="container container-table">
<div class="form-group">
	<div class="row">
		<div class="col-md-4">
				<label for="dlugoscSekwencji">Szukana długość wzorca</label>
				<input id="dlugoscSekwencji" ng-model ="dlugoscSekwencji" type="number" class="form-control">
				</br>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
				<label for="dlugoscSekwencji">Aktualny wynik</label>
				
				</br>
		</div>
	</div>
	</br>
	</br>
	<div class="row">
			<label for="sekwencje">Sekwencje</label>
	  <textarea id="sekwencje" ng-model ="sekwencje" class="form-control" rows="8" id="comment"></textarea>
	  </br>
		<button type="button" class="btn btn-info" ng-keyup="$event.keyCode == 112 ? medianSearchAlgorithm() : ''" ng-click='medianSearchAlgorithm()'>Wykonaj algorytm (F1)</button>
		<button type="button" class="btn btn-info" ng-keyup="$event.keyCode == 113 ? medianSearchAlgorithm() : ''" ng-click='medianSearchAlgorithm()'>Pojedynczy krok algorytmu (F2)</button>
		<button type="button" class="btn btn-info" ng-keyup="$event.keyCode == 114 ? medianSearchAlgorithm() : ''" ng-click='medianSearchAlgorithm()'>Skocz o 10 kroków (F3)</button>
		<button type="button" class="btn btn-info" ng-keyup="$event.keyCode == 115 ? medianSearchAlgorithm() : ''" ng-click='medianSearchAlgorithm()'>Wypełnij przykładowymi danymi (F4)</button>
	</div>
</div>

      <h4>Wyszukiwania motywów dla zbioru sekwencji metodą wyszukiwania mediany</h4>
      <h3>Autorzy: Filip Piątkowski, Marcin Dudek, Marek Moraczyński</h3>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/algorithm.js"></script>
	<script src="js/app.js"></script>
	<script src="bower_components/bootstrap/bootstrap.min.js"></script>
</div>
</body>
</html>