<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Wyszukiwania motywów</title>

    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="css/styles.css" rel="stylesheet">
</head>
<body ng-app="app" ng-controller="AppCtrl as app" ng-init="iter=0;log=''">
<div class="container container-table">
      <h3 class="text-center">Wyszukiwania motywów dla zbioru sekwencji metodą wyszukiwania mediany</h3>
<div class="form-group" id="main_form">
	<div class="row">
		<div class="col-md-4">
				<label for="dlugoscSekwencji">Szukana długość wzorca</label>
				<input id="dlugoscSekwencji" ng-model ="dlugoscSekwencji" type="number" class="form-control">
				</br>
		</div>
		<div class="col-md-2">
		</div>
		<div class="col-md-6">
				<label>Wynik: {{result}}</label>
			</br>
				<label>Odległość (w sensie hamminga): {{hamming}}</label>

				</br>
				</br>
		</div>
	</div
</div>



	<div class="row">
			<label for="sekwencje">Sekwencje</label>
	  <textarea id="sekwencje" ng-model ="sekwencje" class="form-control" rows="8" id="comment"></textarea>
	  </br>
		<button type="button" class="btn btn-info"  ng-click='medianSearchAlgorithm()'>Wykonaj algorytm </button>
		<!--<button type="button" class="btn btn-info" ng-click='simpleStep()'>Pojedynczy krok algorytmu</button>-->
		<!--<button type="button" class="btn btn-info"  ng-click='medianSearchAlgorithm()'>Skocz o 10 kroków </button>-->
		<button type="button" class="btn btn-info"  ng-click='fillSampleData()'>Wypełnij przykładowymi danymi</button>
	</div>
	<div class="row">
		<br>
		<label for="sekwencje">Log wykonania</label>
	<textarea id="sekwencje" ng-model ="log" class="form-control" rows="8" id="comment"></textarea>
	</div>
</div>


      <h3>Autorzy: Filip Piątkowski, Marcin Dudek, Marek Moraczyński</h3>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="bower_components/angular/angular.min.js"></script>
	<script src="js/app.js"></script>
	<script src="bower_components/bootstrap/bootstrap.min.js"></script>
</div>
</body>
</html>